@media screen and (max-width: 1001px){
.hide-on-small-only, .tabs-wrapper, .hide-on-small-and-down {
    display: none !important;
}

.show-on-small-only{
	display: inline !important;
}
.col.m9 {
	width: 100% !important;
}
.viewIcon{
	position:fixed;
	bottom:7%;
	right:7%;
	color: #57A6F6;
	cursor: pointer;
}
.collapsible-header {
	font-size: 24px !important;
}
.text-center span{
	font-size: 22px !important;
}
.slideTitle{
	background-color: #459DF5;
	color: white !important;
	font-family: "微软雅黑" !important;
	font-weight: bold;
	font-size: 20px;
	margin-top:32px;
}
.slideSub{
	background-color: #F8F8F8;
	color: #3695F5;
}
.side-nav li a{
	font-size: 16px;
}
.introducePart{
	width:100% !important;color:#838383;padding-top: 1em;font-size: 14px;
}
.lastPart{
	min-height: 2000px !important;
}
.colTitle2 font{
	display: none;
}
}

.collapsible{
	width:100%;
	border: 0px;
	margin: 0px;
	padding-left: 0px;
}
.menuFix{
	position: absolute;
	top:600px;
	left:5%;
	width: 15%;
}
@media screen and (max-width:1400px ) {
	.menuFix{
	position: absolute;
	top:600px;
	left:0%;
	width: 25%;
}
}
ul li{
list-style-type:none;
}
col{
	box-sizing:content-box;
}

body .container{
	margin:0 auto;
	border:0px;
	max-width: 1600px !important;
}
@media screen and (min-width:1400px ) {
	#csx {
	margin-left: 5%;margin-right: 5%;
	}
}
body{
	margin: 0px;
	font-family: "微软雅黑" !important;
}
.colImg{
	margin-top: 40px;
}
.colPart1{
	height:230px;
	width:100%;
}
.colPart2{
	height:auto!important;
	height:300px;
	min-height: 300px;
	width:100%;
}
.colTitle{
	font-size: 22px;
}
.colTitle2{
	margin-top:25px;
}
.colPart3{
	height:auto!important;
	height:300px;
	min-height: 300px;
	width:100%;
	font-size:27px;;
}
.colImg2{
	margin-top: 30px;
	width: 100%;
	max-width: 800px;
	max-height: 450px;
}
.lastPart{
	height: auto!important;
	height:1700px;
	min-height: 1700px;
}
.lastPart h6{
	font-size: 18px;
}
.introducePart{
	text-align:center;width:100%;color:#838383;padding-top: 1em;margin-bottom: 2em;font-size: 14px;
}
.PoductPart{
	height: auto!important;
	height:300px;
	min-height: 300px;
}
.PPSub1{
	padding:30px;color:#838383;border-radius:20px;border:3px solid #7030A0"
}
.PPImg{
	margin-bottom:40px;
	width:100%;
	max-width: 640px;
}
.material-scrolltop2 {
    display: block;
    position: fixed;
    width: 0;
    height: 0;
    bottom: 103px;
    right: 23px;
    padding: 0;
    overflow: hidden;
    outline: none;
    border: none;
    border-radius: 2px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
    cursor: hand;
    border-radius: 50%;
    background: #28bbf8;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-transition: all 0.3s cubic-bezier(0.25, 0.25, 0, 1);
    -ms-transition: all 0.3s cubic-bezier(0.25, 0.25, 0, 1);
    -moz-transition: all 0.3s cubic-bezier(0.25, 0.25, 0, 1);
    -o-transition: all 0.3s cubic-bezier(0.25, 0.25, 0, 1);
    transition: all 0.3s cubic-bezier(0.25, 0.25, 0, 1);
}

.material-scrolltop2:hover {
    background-color: #28BBF8;
    text-decoration: none;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5), 0 3px 15px rgba(0, 0, 0, 0.5);
}
.material-scrolltop2:focus {
    background-color: #28BBF8;
}

.material-scrolltop2::before {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    content: "";
    width: 0;
    border-radius: 100%;
    background: #28BBF8;
}

.material-scrolltop2:active::before {
    width: 120%;
    padding-top: 120%;
    -webkit-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.material-scrolltop2.reveal {
    width: 56px;
    height: 56px;
}

.material-scrolltop2 span {
    display: block;
    font-size: 25px;
    color: #fff;
}
.material-scrolltop2,
.material-scrolltop2::before {
    background-image: url(../src/icons/format-list-bulleted.svg);
    background-position: center 50%;
    background-repeat: no-repeat;
}